{%extends "main/base.html"%}

{%block title%} Show To Do List {%endblock%}

{% comment %} {% block content%}
<h1> {{ls}} </h1>
<ul>    
        {% for item in ls.item_set.all %}
        {% if item.complete == True%}
        <li>  {{item.text}} - Complete</li>
        {% else%}
        <li>  {{item.text}} - Incomplete</li>
        {% endif %}
        {% endfor%}    
 </ul>
{% endblock%} {% endcomment %}


{% block content %}

<h1> {{ls}} </h1>
    <form method = "post" action = "#">
        {% csrf_token%}
          <ul style="list-style: none;">
            {% for item in ls.item_set.all %}
                {% if item.complete == True%}
                {% comment %} here we are writing it as checked which will default it to start off checked 
                or this check box will be checked initially when we load the page,as it is completed item, so we want it's check button to be checked.{% endcomment %}
                    <li>  <input type = "checkbox" value = "clicked" name = "c{{item.id}}" checked>{{item.text}} </li>
                {% else %}
                    <li>  <input type = "checkbox" value = "clicked" name = "c{{item.id}}">{{item.text}} </li>
                {% endif %}
            {% endfor%}    
          </ul>
        
        <button type = "submit" name = "save" value = "save"> Save </button>
        <input type = "text" name = "new">
        <button type = "submit" name = "newItem" value = "newItem"> Add Item </button>
    </form>

{% endblock%}

